@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  /* color: var(--color); */
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}


.mode-btn {
  display: inline-flex;
  background: var(--themecolor);
  padding: 10px 20px 10px 10px;
  position: fixed;
  top: 100px;
  left: 0;
  border-radius: 0 30px 30px 0;
  z-index: 1000;
}

.mode-icon {
  color: #fff;
  font-size: 20px;
  display: inline-flex;
}

.btn-theme-color {
  background-color: var(--themecolor);
  color: #fff;
}
.btn-theme-color:hover {
  background-color: var(--themecolor-hover);
  color: #fff;
}
.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
:not(.btn-check)+.btn:active:focus-visible,
.btn-check:checked+.btn,
.btn.active,
:not(.btn-check)+.btn:active,
.btn:focus-visible{
  background-color: var(--themecolor-hover) ;
}
.btn{
  border: none;
}

.section-title{
  font-weight: 700;
  color: var(--color);
}

.pad-tb-section {
  padding: 50px 0;
}

.page-btn-hover:hover {
  transform: translateY(-0.2rem);
}

.page-btn-hover {
  transition: all 0.3s linear;
}


[data-bs-theme=light] {
  --themecolor:#0073b9;
  --themecolor-hover:#055688;
  --background: #ffffff;
  --box_background: #f7f7f7;
  --color: #000;
  --nav_background: #ffffff;
}

[data-bs-theme=dark] {
  --themecolor: #10a1f9;
  --themecolor-hover: #066faf;
  --background: #333638;
  --box_background: #333638;
  --color: #ffffff;
  --nav_background: #141516;
}


