@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap');
* {
  box-sizing: border-box;
  /* color: var(--titlecolor); */
  outline: none;
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  height: 100vh;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

a,
a:hover {
  text-decoration: none;
}


[data-bs-theme=light] .mode-btn {
  background: #00008b;
}
[data-bs-theme=dark] .mode-btn {
  background: #0aaae7;
}
.mode-btn {
  display: inline-flex;
  padding: 10px 20px 10px 10px;
  position: fixed;
  top: 100px;
  left: 0;
  border-radius: 0 30px 30px 0;
  z-index: 1000;
}

.mode-icon {
  color: #fff;
  font-size: 20px;
  display: inline-flex;
}

.btn-theme-color {
  background-color: var(--purplecolor);
  color: #fff;
}
.btn-theme-color:hover {
  background-color: var(--greencolor);
  color: #fff;
}
.btn-check:checked+.btn:focus-visible,
.btn.active:focus-visible,
.btn.show:focus-visible,
:not(.btn-check)+.btn:active:focus-visible,
.btn-check:checked+.btn,
.btn.active,
:not(.btn-check)+.btn:active,
.btn:focus-visible{
  background-color: var(--greencolor) ;
  color: #fff;
}
.btn{
  border: none;
}

.section-title{
  font-weight: 700;
  color: var(--titlecolor);
}

h2.section-title {
  font-size: 28px;
}

.pad-tb-section {
  padding: 50px 0;
}

.page-btn-hover:hover {
  transform: translateY(-0.2rem);
}

.page-btn-hover {
  transition: all 0.3s linear;
}

.card {
  border: none;
  background: var(--box_background);
  box-shadow: 0 0.25rem 1.75rem rgba(30, 34, 40, .07);
  transition: transform 0.5s ease-in-out;
}

.card:hover {
  transform: translateY(-5px);
}


[data-bs-theme=light] {
  --purplecolor:#b561d5;
  --greencolor:#2cc55d;
  --box_background: #ffffff;
  --titlecolor: #113860;
  --nav_background: #ffffff;
  --bs-body-color: #6084a4;
  --our-clien-bg: #f5f5f5;
  --social-icon-bg: #dddddd;
}

[data-bs-theme=dark] {
  --purplecolor: #b561d5;
  --greencolor: #2cc55d;
  --box_background: #2b3136;
  --titlecolor: #ffffff;
  --nav_background: #141516;
  --bs-body-color: #b7b7b7;
  --our-clien-bg: #2b3136;
  --social-icon-bg: #373d42;
}
 


